trigger:
- master

pool:
  # vmImage: 'windows-latest'
  name: 'Default'

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  majorMinor: '2.8'

stages:
- stage: Build
  displayName: Build
  jobs:

  - job: Build
    displayName: Build and Test
    steps:
    - checkout: self

    - template: buildnumber.yml
      parameters:
        majorMinor: ${{ variables.majorMinor }}

    - task: UseDotNet@2
      displayName: 'Use .NET 10'
      inputs:
        version: 10.0.x
        includePreviewVersions: false

    - task: PowerShell@2
      displayName: 'Set version environment variable'
      inputs:
        filePath: 'setVersionEnvironmentVariable.ps1'
      env:
        SOURCE_BRANCH_NAME: $(Build.SourceBranchName)
        BUILD_NUMBER: $(Build.BuildNumber)

    - task: NuGetToolInstaller@1

    - task: DotNetCoreCLI@2
      displayName: 'Restore nuget packages'
      inputs:
        command: 'restore'
        projects: '**/Tharga.MongoDB*.csproj'
        feedsToUse: 'select'

    - task: DotNetCoreCLI@2
      displayName: 'Build'
      inputs:
        command: 'build'
        projects: '**/Tharga.MongoDB*.csproj'
        arguments: '-c Release --no-restore /p:Version=$(Build.BuildNumber)'

    - task: DotNetCoreCLI@2
      displayName: 'Test'
      inputs:
        command: 'test'
        projects: '**/Tharga.MongoDB*.Tests.csproj'
        arguments: '-c $(buildConfiguration) --no-build --filter "Category!=Database" /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:SkipAutoProps=true /p:ExcludeByAttribute="Obsolete"'

    - task: PublishCodeCoverageResults@1
      displayName: 'Publish code coverage results'
      condition: succeededOrFailed()
      inputs:
        codeCoverageTool: 'Cobertura'
        summaryFileLocation: '**/*coverage.cobertura.xml'

    # - task: BuildQualityChecks@8
    #   displayName: 'Build Quality Checks'
    #   inputs:
    #     checkWarnings: true
    #     warningFailOption: 'build'
    #     allowWarningVariance: true
    #     warningVariance: '5'
    #     checkCoverage: false
    #     coverageFailOption: 'build'
    #     coverageType: 'lines'
    #     allowCoverageVariance: true
    #     coverageVariance: '5'

    - task: DotNetCoreCLI@2
      displayName: 'Pack Tharga.MongoDB'
      inputs:
        command: 'pack'
        packagesToPack: '**/Tharga.MongoDB.csproj'
        versioningScheme: 'byEnvVar'
        versionEnvVar: 'BUILD_BUILDNUMBER'
        arguments: '--configuration Release /p:IncludeSymbols=true /p:IncludeSource=true /p:SymbolPackageFormat=snupkg /p:ContinuousIntegrationBuild=true'

    - task: DotNetCoreCLI@2
      displayName: 'Pack Tharga.MongoDB.Blazor'
      inputs:
        command: 'pack'
        packagesToPack: '**/Tharga.MongoDB.Blazor.csproj'
        versioningScheme: 'byEnvVar'
        versionEnvVar: 'BUILD_BUILDNUMBER'
        arguments: '--configuration Release /p:IncludeSymbols=true /p:IncludeSource=true /p:SymbolPackageFormat=snupkg /p:ContinuousIntegrationBuild=true'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'

  - job: Push
    displayName: Push locally
    dependsOn: Build
    condition: and(succeeded(), ne(variables['Build.SourceBranchName'], 'master')) #Only push prereleases to local artifacts.
    steps:
    - download: current
      artifact: drop
    - task: DotNetCoreCLI@2
      displayName: 'Push nuget packages locally'
      inputs:
        command: 'push'
        packagesToPush: '$(Pipeline.Workspace)/drop/*.symbols.nupkg'
        nuGetFeedType: 'internal'
        publishVstsFeed: 'eda8985f-7491-4ceb-b57f-a6ce8a0c96d4'

- stage: Release
  displayName: Release
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'master')) #Exclude this line to push prereleases to github.
  jobs:

  - job: Release
    displayName: Release
    workspace:
      clean: resources

    steps:
    - pwsh: |
        $dropPath = "$(Pipeline.Workspace)/drop"
        if (Test-Path $dropPath) {
          Remove-Item -Path $dropPath -Recurse -Force
          Write-Host "Cleaned: $dropPath"
        }
      displayName: 'Clean drop folder'

    - download: current
      artifact: drop
    - checkout: self
      persistCredentials: true

    - script: |
        echo "Files in workspace:"
        dir "$(Pipeline.Workspace)/drop" /s /b
      displayName: 'List pipeline workspace drop files'

    - task: NuGetCommand@2
      displayName: 'Push nuget packages to nuget.org'
      inputs:
        command: 'push'
        packagesToPush: '$(Pipeline.Workspace)/drop/**/*.symbols.nupkg'
        nuGetFeedType: 'external'
        publishFeedCredentials: 'Nuget.org'
        allowPackageConflicts: true

    - script: |
         git tag $(Build.BuildNumber) $(Build.SourceVersion)
         git push origin $(Build.BuildNumber)
      workingDirectory: $(Build.SourcesDirectory)
      displayName: Tag
